In [213]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import os
import sklearn
import warnings
warnings.filterwarnings('ignore')
print("done :)")

done :)

In [214]:
path = "data.csv"
df= pd.read_csv(path)
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [215]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [216]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [217]:
df.columns = df.columns.str.replace(' ','_')

In [218]:
missing_values_table(df)

Your selected dataframe has 16 columns.
There are 5 columns that have missing values.

                  Missing Values  % of Total Values
Market_Category             3742               31.4
Engine_HP                     69                0.6
Engine_Cylinders              30                0.3
Number_of_Doors                6                0.1
Engine_Fuel_Type               3                0.0

In [219]:
#dropping null values in <%1

df=df.dropna(subset=['Engine_HP','Engine_Cylinders','Number_of_Doors','Engine_Fuel_Type'])

In [220]:
df=df.fillna('Unknown')

In [221]:
missing_values_table(df)

Your selected dataframe has 16 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [222]:
df.isnull().sum()

Make                 0
Model                0
Year                 0
Engine_Fuel_Type     0
Engine_HP            0
Engine_Cylinders     0
Transmission_Type    0
Driven_Wheels        0
Number_of_Doors      0
Market_Category      0
Vehicle_Size         0
Vehicle_Style        0
highway_MPG          0
city_mpg             0
Popularity           0
MSRP                 0
dtype: int64

In [223]:
df.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

Make                  47
Model                904
Engine_Fuel_Type       9
Transmission_Type      5
Driven_Wheels          4
Market_Category       71
Vehicle_Size           3
Vehicle_Style         16
dtype: int64

In [224]:
#Correclation
correlations = df.corr()['MSRP'].sort_values()
# Display correlations
print('Most Positive Correlations:\n', correlations.tail(15))
print('\nMost Negative Correlations:\n', correlations.head(15))

Most Positive Correlations:
 city_mpg           -0.225317
highway_MPG        -0.198962
Number_of_Doors    -0.127316
Popularity         -0.048609
Year                0.227327
Engine_Cylinders    0.544002
Engine_HP           0.661827
MSRP                1.000000
Name: MSRP, dtype: float64

Most Negative Correlations:
 city_mpg           -0.225317
highway_MPG        -0.198962
Number_of_Doors    -0.127316
Popularity         -0.048609
Year                0.227327
Engine_Cylinders    0.544002
Engine_HP           0.661827
MSRP                1.000000
Name: MSRP, dtype: float64

In [225]:
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    df = pd.concat([original_dataframe, dummies], axis=1)
    df = df.drop([feature_to_encode], axis=1)
    return(df)

In [226]:
Features = ['Transmission_Type','Driven_Wheels','Vehicle_Size']
df =encode_and_bind(df,'Vehicle_Size')
df

df =encode_and_bind(df,'Driven_Wheels' )
df

df =encode_and_bind(df,'Transmission_Type')
df

df =encode_and_bind(df,'Vehicle_Style')
df

df.columns = df.columns.str.replace('_Type','')
df.columns = df.columns.str.replace('2dr','two_door')
df.columns = df.columns.str.replace('4dr','four_door')

In [227]:
df.to_csv('work_in_progress.csv', encoding='utf-8')

In [228]:
df

,Make,Model,Year,Engine_Fuel,Engine_HP,Engine_Cylinders,Number_of_Doors,Market_Category,highway_MPG,city_mpg,...,Vehicle_Style_Convertible,Vehicle_Style_Convertible SUV,Vehicle_Style_Coupe,Vehicle_Style_Crew Cab Pickup,Vehicle_Style_Extended Cab Pickup,Vehicle_Style_Passenger Minivan,Vehicle_Style_Passenger Van,Vehicle_Style_Regular Cab Pickup,Vehicle_Style_Sedan,Vehicle_Style_Wagon
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,2.0,"Factory Tuner,Luxury,High-Performance",26,19,...,0,0,1,0,0,0,0,0,0,0
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,2.0,"Luxury,Performance",28,19,...,1,0,0,0,0,0,0,0,0,0
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,2.0,"Luxury,High-Performance",28,20,...,0,0,1,0,0,0,0,0,0,0
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,2.0,"Luxury,Performance",28,18,...,0,0,1,0,0,0,0,0,0,0
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,2.0,Luxury,28,18,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,4.0,"Crossover,Hatchback,Luxury",23,16,...,0,0,0,0,0,0,0,0,0,0
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,4.0,"Crossover,Hatchback,Luxury",23,16,...,0,0,0,0,0,0,0,0,0,0
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,4.0,"Crossover,Hatchback,Luxury",23,16,...,0,0,0,0,0,0,0,0,0,0
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,4.0,"Crossover,Hatchback,Luxury",23,16,...,0,0,0,0,0,0,0,0,0,0
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,4.0,Luxury,26,17,...,0,0,0,0,0,0,0,0,1,0